@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.movie-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;

    &__col {
        display: flex;
        flex-direction: column;
    }
}

.movie-card {
    margin: 1rem;
    width: 150px;

    &__poster {
        width: 150px;
        height: 200px;
    }

    &__title {
        flex-direction: row;
        flex-wrap: wrap;
        @include desktopH3;
        margin-top: 0.75rem;
        padding: 0.25rem;
        border-radius: 10px;
        color: white;
        text-align: center;
    }

    &__button {
        @include desktopH4;
        color: white;
        margin-bottom: 0.75rem;
        font-size: 1rem;
    }

    &__button-div {
        display: flex;
        justify-content: center;
    }
}

.modal-button {
    display: flex;
    justify-content: center;
    &__button {
      color: white;
    }
}

#modal-modal-title {
    text-align: center;
    color: white;
    font-size: 2rem;
}

#modal-modal-subtitle {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
#modalButton {
  color: white;
}
