@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.movie-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;

    &__col {
        display: flex;
        flex-direction: column;
    }
}

.movie-card {
    border: 1px solid black;
    margin: 1rem;
    width: 150px;

    &__poster {
        width: 150px;
        height: 200px;
    }

    &__title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include desktopH3;
        padding: 0.5rem;
    }

    &__button {
        @include desktopH4;
        @include button;
    }

    &__button-div {
        display: flex;
        justify-content: center;
    }
}

.modal-button {
    display: flex;
    justify-content: center;
}
