/////////  Breakpoints /////////
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

///////// Buttons /////////
$buttonRadius: 12px;

///////// Primary Colours /////////
$primary: #4a5043;
$secondary: #2f4858;
$white: #fff8f0;
