/////////  Breakpoints /////////
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

///////// Buttons /////////
$buttonRadius: 10px;

///////// Primary Colours /////////
$primary: #091d42;
$secondary: #3997ff;
$third: #182542;
$white: #ffffff;
