@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.hero__container {
    display: grid;
    grid-template-areas:
        "titlebox"
        "imagebox"
        "textbox";
    justify-items: center;
    align-items: center;
    grid-gap: 50px;
    background-color: $third;
    padding: 40px 30px 80px 30px;

    @include desktop {
        grid-template-areas:
            "titlebox imagebox"
            "textbox imagebox";
        justify-items: flex-start;
        align-items: normal;
        grid-gap: 0px;
        padding: 40px 0px 100px 80px;
    }
    &-image {
        grid-area: imagebox;
        border: 8px solid black;
        object-fit: cover;
        @include desktop {
            width: 400px;
            height: 350px;
        }
    }

    &-title {
        color: $white;
        @include desktop {
            font-size: 45px;
            font-weight: 600;
            width: 70%;
            padding: 40px 0px 0px 0px;
        }
    }

    &-text {
        color: $white;
        @include desktop {
            font-size: 26px;
            font-weight: 400;
            padding: 3px 0px;
            width: 85%;
        }
    }

    &-textbox {
        grid-area: textbox;

        @include desktop {
            margin-right: 200px;
        }
    }

    &-titlebox {
        grid-area: titlebox;
    }
}
