@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 1rem;
}

.leftside {
    display: flex;

    &__logo {
        display: flex;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}
.rightside {
    display: flex;

    &__list-parent {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    &__list-item {
        margin: 0.5rem 1rem 0.5rem 1rem;
        color: $primary;

        &:hover {
            border-bottom: 2px solid $primary;
        }

        &--hover {
            border-bottom: none;
        }
    }

    &__profile {
        position: relative;
        bottom: 0.5rem;
        height: 55px;
    }
}
