@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #091d42;
    padding: 1.5rem 1rem;
}

.leftside {
    display: flex;

    &-logo {
        display: flex;
        padding: 0.5rem 1rem 0.5rem 5rem;
    }
}
.rightside {
    display: flex;

    &__list-item {
        text-transform: uppercase;
        font-size: 13px;
    }
    &__list-parent {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-right: 8rem;
        align-items: baseline;
    }

    &__list-item {
        margin: 0.5rem 1rem 0.5rem 1rem;
        color: $white;
        @include desktopH4;

        &:hover {
            border-bottom: 2px solid $primary;
        }

        &--hover {
            border-bottom: none;
        }

        &--button {
            color: white;
            margin-left: 3rem;
            padding: 10px 20px;
            border-radius: 10px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            background-color: #3385d6;
        }
    }

    &__profile {
        position: relative;
        bottom: 0.5rem;
        height: 55px;
    }
}
