@use '../../styles/partials/_mixins.scss' as *;
@use '../../styles/partials/_global.scss' as *;
@use '../../styles/partials/_variables.scss' as *;

.footer {
  display: flex;
  background-color: #727882;
  padding: 2rem 3rem; 
  flex-flow: row nowrap;
  justify-content: space-between;
  &__left{
    &__logo {
      font-size: 1.5rem;
      background: #FA9597;
      border-radius: 20px;
      padding: 0.5rem;

    }
    &__text {
      margin: 1rem 0;
      font-size: 1.5rem;
    }
    &__icons {
      display: flex;
      &__icon {
        margin-right: 1.5rem;
        width: 25px;
        height: 25px;
      }
    }
  }
  &__right {
    &__heading {
      display: flex;
      margin-bottom: 1.5rem;
      &__text {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 1rem 1rem 0;
      }
    }
    &__text {
      display: flex;
      flex-flow: row nowrap;
      &__content { 
        margin-right: 2rem;
      }
    }
  }
}
.footer p {

}
