@use '../../styles/partials/_mixins.scss' as *;
@use '../../styles/partials/_global.scss' as *;
@use '../../styles/partials/_variables.scss' as *;

.footer {
  display: flex;
  background-color: #727882;
  border-radius: 20px;
  padding: 1rem;
  @include desktop {
    flex-flow: row nowrap;
  }
}
.footer p {
  font-size: 2rem;
}
