.movie-cards-container {
    display: flex;
}

.movie-card {
    border: 1px solid black;
    margin: 1rem;
}

.theater-text {
    &__header {
        text-align: center;
    }

    &__body {
        text-align: center;
    }
}
